<%#= column_chart Plan.group(:premium_adult_21_years).count %>

<div id="chart-1" style="height: 300px;"></div>
<%= javascript_tag do %>
  window.plans = JSON.parse(<%= raw @plans.to_json %>);
<% end %>
<script>
  
      new Chartkick.BarChart("chart-1", function() {
        plans.forEach(function(plan) {
          ['21-26', plan['premium_adult_21_years']];
      });
      });
</script>

For each plan
Comparison of premiums for ages 21, and ages 27
Side-by-side in a bar chart
With the premium cost on the y-axis
and each plan pair on the x-axis
